body {
    font-family: Courier;
    font-size: 2em;
    background-color: black;
}

input {
    all: initial;
}

.flex-container {
    display: flex;
    width: 99%;
}

.repl-history-entry {
}

#repl-frame {
    background-color: black;
    color: white;
    flex-direction: column;
}

#repl-history {
}

#repl-input-frame {
    border: black solid 5px;
}

#repl-input[type=text] {
    width: 80%;
    background-color: black;
    color: white;
    font-family: Courier;
    font-size: 1em;
}

.free-space {
    height: 80%;
    flex-shrink: 0;
    outline: white solid 1px;
}

/* #repl-input:active { */
/*     border: none; */
/*     outline: none; */
/* } */
